<h1>Payment Results</h1>

<div>
APR
<%= @apr.to_fs(:percentage, { :precision => 4 } )  %>

</div>

<div>
Number of years
<%= @years %>
</div>

<div>
Principal
<%= @principal.to_fs(:currency) %>
</div>

<!--

Number of periods
<%= @number_of_periods %>

Rate per period
<%= @rate_per_period %>

Numerator
<%= @monthly_payment_numerator %>

Denominator
<%= @monthly_payment_denominator %>

-->
<div>
Payment
<%= @payment_result.to_fs(:currency) %>
</div>

<div>
<a href="/payment/new">Calculate another payment</a>
</div>
