<h1>Payment Results</h1>

<div>
APR
<%= @apr %>

</div>

<div>
Number of years
<%= @years %>
</div>

<div>
Principal
<%= '$%.2f' % @principal %>
</div>

<!--

Number of periods
<%= @number_of_periods %>

Rate per period
<%= @rate_per_period %>

Numerator
<%= @monthly_payment_numerator %>

Denominator
<%= @monthly_payment_denominator %>

-->
<div>
Payment
<%= '$%.2f' % @payment_result %>
</div>

<div>
<a href="/payment/new">Calculate another payment</a>
</div>
